:root {
  --primary-color: #6b21a8;
  --primary-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

input, button {
  outline: none;
}

button {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--primary-white);
  border: none;
  border-radius: 20px;
  padding: 10px;
  min-width: 80px;
}

a {
  text-decoration: none;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 4fr;
  height: 100vh;
}

header {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 30px 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.header-left,
.header-right {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

.header-upper-left {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.header-upper-left svg {
  cursor: pointer;
}

.header-upper-left input {
  width: 80%;
  padding: 5px 20px;
  border: none;
  border-radius: 20px;
  background-color: #cbd5e1;
  font-size: 1rem;
}

.header-lower-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-lower-left p {
  font-weight: bold;
}

.header-lower-left img {
  border-radius: 50%;
}

.header-upper-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.header-upper-right svg {
  cursor: pointer;
}

.header-upper-right p {
  font-weight: bold;
  font-size: 1.25rem;
}

.header-upper-right img {
  border-radius: 50%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.sidebar {
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: auto repeat(3, 1fr);
  row-gap: 20px;
  background-color: var(--primary-color);
  color: var(--primary-white);
}

.nav-heading {
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-size: 1.5rem;
}

.nav-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin: 10px 0;
  padding: 10px;
  font-size: 1.25rem;
  border-radius: 10px;
  cursor: pointer;
}

.nav-item:hover {
  background-color: #5901a1;
  transform: scale(1.1);
  transition: ease-in-out .3s;
}

.nav-item img {
  width: 30px;
}


















/* Utilities */
.p-3 {
  padding: 30px;
}